* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "inter", sans-serif;
  max-width: 100vw;
  background-color: #FBE5EE;
}

.section1 {
  max-width: 792px;
  height: auto;
  margin: 7% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.section1_img {
  width: 100%;
  height: 100%;
}
.section1_img_pr {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section1 h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
  color: #ffffff;
  height: 91px;
  margin-bottom: 0;
}
.section1_text {
  height: 63px;
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
  padding: 19px 0;
}
.section1_buttonLog {
  width: 378px;
  height: 64.28px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
}

.header {
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-image: url("../../images/header/header.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 55%;
}
.header_nav {
  margin: 0 auto;
  width: 88%;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB8D6;
  border-radius: 32px;
  padding: 0 75px;
}
.header_nav a {
  font-weight: 500;
}

.Section2 {
  max-width: 1200px;
  max-height: auto;
  margin: min(14%, 216px) auto;
}
.Section2_title {
  color: #000000;
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
.Section2_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  max-width: 100%;
}
.Section2_block1_item1 {
  max-width: 584px;
  max-height: 564px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.Section2_block1_item1 img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Section2_block1_item2 {
  max-width: 584px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Section2_block1_item2_text {
  width: 100%;
  height: 100%;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Section2_block1_item2_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 147px;
  margin-top: 20px;
}
.Section2_block1_item2_icons img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section3 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: 1645px;
  border: 1px solid green;
}
.section3_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
.section3_content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.section3_content_item2 {
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5.3%;
}

.section3_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 5.3%;
}

.section3_button {
  width: 378px;
  height: 64.28px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
  margin: 32px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 {
  margin: min(14%, 216px) auto;
  width: min(100%, 1920px);
  max-height: auto;
  border: 1px solid green;
  background-image: url("../../images/section4/crazy lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section4_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
.section4_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4_text {
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
}
.section4_text_1 {
  font-weight: 500;
  line-height: 80px;
}

.section4_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section5 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: auto;
  border: 1px solid green;
}
.section5_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
.section5_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  gap: 32px;
}
.section5_content_3 {
  grid-column: 3/5;
  margin-bottom: 32px;
}
.section5_content_5 {
  grid-column: 2/4;
  margin-bottom: 32px;
}
.section5_content_7 {
  grid-column: 1/3;
}

.section5_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section6 {
  margin: min(14%, 216px) auto;
  width: min(100%, 1920px);
  max-height: auto;
  overflow: hidden;
  position: relative;
}
.section6_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
.section6_content {
  max-width: 1700px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  position: relative;
  left: -250px;
}
.section6_content_item {
  min-width: 25%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section6_content_card {
  margin-top: 87px;
  width: 100%;
  height: 100%;
  border-radius: 52px;
  background-color: #FFB8D6;
  padding: 140px 40px 70px 40px;
}
.section6_content_text {
  max-width: 300px;
  max-height: 233px;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
  text-align: center;
}
.section6_content_text_item1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.section6_content_text_item2 {
  line-height: 1.2;
}
.section6_content_img {
  max-width: 100%;
  position: absolute;
  top: -30px;
}
.section6_content_img2 {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}