* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "inter", sans-serif;
  margin: 0 auto;
  width: 1441px;
}

.section1 {
  width: 792px;
  height: 690px;
  margin: 100px auto;
  position: relative;
  z-index: 10;
}
.section1 h1 {
  color: #ffffff;
  text-align: center;
  height: 91px;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}
.section1_img {
  margin: 36px auto;
}
.section1_text {
  height: 63px;
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
  padding: 19px 0;
}

.header_nav {
  margin: 20px 44px;
  width: 1353px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB8D6;
  border-radius: 32px;
  padding: 0 75px;
  position: relative;
  z-index: 10;
}
.header_nav a {
  font-weight: 500;
}

.header_bg {
  position: absolute;
  top: -20px;
  z-index: 1;
}