* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "inter", sans-serif;
  max-width: 100vw;
  background-color: #FBE5EE;
}

.section1 {
  width: 792px;
  height: auto;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.section1 h1 {
  color: #ffffff;
  text-align: center;
  height: 91px;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}
.section1_text {
  height: 63px;
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
  padding: 19px 0;
}
.section1_buttonLog {
  width: 378px;
  height: 64.28px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
}

.header {
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-image: url("../../images/header/header.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 497px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_nav {
  width: 88%;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB8D6;
  border-radius: 32px;
  padding: 0 75px;
}
.header_nav a {
  font-weight: 500;
}