* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "inter", sans-serif;
  max-width: 100vw;
  background-color: #FBE5EE;
}

.section1 {
  max-width: 792px;
  height: auto;
  margin: 8% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.section1_img {
  width: 100%;
  height: 100%;
}
.section1_img_pr {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section1 h1 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 91px;
}
.section1_text {
  height: 63px;
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
  padding: 19px 0;
}
.section1_buttonLog {
  width: 378px;
  height: 64.28px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
}

.header {
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-image: url("../../images/header/header.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 55%;
}
.header_nav {
  margin: 0 auto;
  width: 88%;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB8D6;
  border-radius: 32px;
  padding: 0 75px;
}
.header_nav a {
  font-weight: 500;
}

.Section2 {
  max-width: 1200px;
  max-height: auto;
  margin: 14% auto;
}
.Section2_title {
  color: #000000;
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
}
.Section2_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  max-width: 100%;
}
.Section2_block1_item1 {
  max-width: 584px;
  max-height: 564px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.Section2_block1_item1 img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Section2_block1_item2 {
  max-width: 584px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Section2_block1_item2_text {
  width: 100%;
  height: 100%;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Section2_block1_item2_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 147px;
  margin-top: 20px;
}
.Section2_block1_item2_icons img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}