* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "inter", sans-serif;
  max-width: 100vw;
  background-color: #FBE5EE;
  font-size: 16px;
}

.section1 {
  max-width: 792px;
  height: auto;
  margin: 7% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.section1_img {
  width: 100%;
  height: 100%;
}
.section1_img_pr {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section1 h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section1 h1 {
    font-size: 40px;
  }
}
.section1 h1 {
  color: #ffffff;
  height: 91px;
  margin-bottom: 0;
}
.section1_text {
  height: 63px;
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 393px) {
  .section1_text {
    font-size: 16px;
  }
}
.section1_text {
  padding: 19px 0;
}
.section1_buttonLog {
  width: 23vw;
  max-width: 378px;
  min-width: 235px;
  height: 8vh;
  max-height: 63px;
  min-height: 40px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 13px #FF0059;
          box-shadow: 0 0 13px #FF0059;
  cursor: pointer;
}
@media (max-width: 393px) {
  .section1_buttonLog {
    font-size: 16px;
  }
}
@media (max-width: 393px) {
  .section1_buttonLog {
    height: 40px;
  }
}

.header {
  padding-top: 20px;
  width: 100%;
  height: auto;
  background-image: url("../images/header/header1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 55%;
}
@media (max-width: 393px) {
  .header {
    background-size: 200% 50%;
  }
}
.header_nav {
  margin: 0 auto;
  width: min(88%, 1920px);
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFB8D6;
  border-radius: 32px;
}
@media (max-width: 393px) {
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 19px;
  }
}
.header_nav a {
  font-weight: 500;
}
.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
@media (max-width: 393px) {
  .header_menu {
    display: none;
  }
}
.header_menu_icon {
  display: none;
}
@media (max-width: 393px) {
  .header_menu_icon {
    display: block;
  }
}

.section2 {
  max-width: 1200px;
  max-height: auto;
  margin: min(14%, 216px) auto;
}
.section2_title {
  color: #000000;
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section2_title {
    font-size: 40px;
  }
}
.section2_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  max-width: 100%;
}
@media (max-width: 393px) {
  .section2_block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
  }
}
.section2_block1_item1 {
  max-width: 584px;
  max-height: 564px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.section2_block1_item1 img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section2_block1_item2 {
  max-width: 584px;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2_block1_item2_text {
  width: 100%;
  height: 100%;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .section2_block1_item2_text {
    font-size: 16px;
  }
}
.section2_block1_item2_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.section2_block1_item2_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 147px;
  margin-top: 20px;
}
.section2_block1_item2_icons img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 393px) {
  .section2_block1_item2_icons img {
    max-width: 90%;
    max-height: 90%;
  }
}

.section3 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: 1645px;
}
.section3_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section3_title {
    font-size: 40px;
  }
}
.section3_content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (max-width: 393px) {
  .section3_content {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
}
.section3_content_item2 {
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .section3_content_item2 {
    font-size: 16px;
  }
}
.section3_content_item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5.3%;
}
@media (max-width: 393px) {
  .section3_content_item2 {
    text-align: center;
    padding: 0 35px;
  }
}

.section3_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 5.3%;
}

.section3_button {
  width: 23vw;
  max-width: 378px;
  min-width: 235px;
  height: 8vh;
  max-height: 63px;
  min-height: 40px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 13px #FF0059;
          box-shadow: 0 0 13px #FF0059;
  cursor: pointer;
}
@media (max-width: 393px) {
  .section3_button {
    font-size: 16px;
  }
}
@media (max-width: 393px) {
  .section3_button {
    height: 40px;
  }
}
.section3_button {
  margin: 32px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 393px) {
  .section3_img2 {
    grid-row: 3/4;
  }
}

.section4 {
  margin: min(14%, 216px) auto;
  width: min(100%, 1920px);
  max-height: auto;
  background-image: url("../images/section4/crazylines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
.section4_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section4_title {
    font-size: 40px;
  }
}
.section4_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4_text {
  font-family: "Kode Mono", monospace;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 393px) {
  .section4_text {
    font-size: 16px;
  }
}
.section4_text_1 {
  font-weight: 500;
  line-height: 80px;
}

.section4_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 393px) {
  .section4_img {
    max-width: 180%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.section5 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: auto;
}
.section5_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section5_title {
    font-size: 40px;
  }
}
.section5_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  gap: 32px;
}
@media (max-width: 393px) {
  .section5_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
  }
}
.section5_content_3 {
  grid-column: 3/5;
  margin-bottom: 32px;
}
.section5_content_5 {
  grid-column: 2/4;
  margin-bottom: 32px;
}
.section5_content_7 {
  grid-column: 1/3;
}

@media (max-width: 393px) {
  .section5_imgBox {
    width: 100%;
    height: auto;
  }
}

.section5_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 393px) {
  .section5_img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
  }
}

.section6 {
  margin: min(14%, 216px) auto;
  width: min(100%, 1920px);
  max-height: auto;
  overflow: hidden;
  position: relative;
}
.section6_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section6_title {
    font-size: 40px;
  }
}
.section6_content {
  max-width: 1700px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  position: relative;
  left: -250px;
}
@media (max-width: 393px) {
  .section6_content {
    max-width: 500px;
  }
}
.section6_content_item {
  min-width: 25%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 393px) {
  .section6_content_item {
    min-width: 75%;
  }
}
.section6_content_card {
  margin-top: 87px;
  width: 100%;
  height: auto;
  border-radius: 52px;
  background-color: #FFB8D6;
  padding: 140px 40px 70px 40px;
}
.section6_content_text {
  max-width: 300px;
  max-height: 233px;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .section6_content_text {
    font-size: 16px;
  }
}
.section6_content_text {
  text-align: center;
}
.section6_content_text_item1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.section6_content_text_item2 {
  line-height: 1.2;
}
.section6_content_img {
  max-width: 100%;
  position: absolute;
  top: -30px;
}
@media (max-width: 393px) {
  .section6_content_img {
    max-width: 60%;
    top: 0px;
  }
}
.section6_content_img2 {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section7 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section7_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section7_title {
    font-size: 40px;
  }
}
.section7_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 83%;
  gap: 32px;
}
.section7_content_item1 {
  height: 109px;
  border: 8px solid #024555;
  border-radius: 20px;
  background-color: #D4E9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 24px 32px;
}
@media (max-width: 393px) {
  .section7_content_item1 {
    padding: 9px 13px;
    height: 70px;
    border: 6px solid #024555;
  }
}
.section7_content_item2 {
  height: 109px;
  border: 8px solid #FE5738;
  border-radius: 20px;
  background-color: #FEA9BD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 24px 32px;
}
@media (max-width: 393px) {
  .section7_content_item2 {
    padding: 9px 13px;
    height: 70px;
    border: 6px solid #024555;
  }
}
.section7_content_text {
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .section7_content_text {
    font-size: 16px;
  }
}
@media (max-width: 393px) {
  .section7_content_text {
    font-size: 11px;
    font-weight: 600;
  }
}

@media (max-width: 393px) {
  .section7_content_svg2 {
    max-width: 80%;
  }
}

.section8 {
  margin: min(14%, 216px) auto;
  max-width: 1200px;
  max-height: auto;
}
.section8_title {
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  height: 102px;
  margin-bottom: 5.3%;
  color: #000000;
}
@media (max-width: 393px) {
  .section8_title {
    font-size: 40px;
  }
}
.section8_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 32px;
}
@media (max-width: 393px) {
  .section8_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
  }
}
.section8_form {
  max-width: 481px;
}
.section8_form_input {
  background-color: #FFFFFF;
  width: 100%;
  height: 79px;
  border-radius: 20px;
  padding-left: 50px;
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .section8_form_input {
    font-size: 16px;
  }
}
.section8_form_input {
  margin-bottom: 34px;
}
.section8_button {
  width: 23vw;
  max-width: 378px;
  min-width: 235px;
  height: 8vh;
  max-height: 63px;
  min-height: 40px;
  border-radius: 59px;
  border: 4px solid #FE5738;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 13px #FF0059;
          box-shadow: 0 0 13px #FF0059;
  cursor: pointer;
}
@media (max-width: 393px) {
  .section8_button {
    font-size: 16px;
  }
}
@media (max-width: 393px) {
  .section8_button {
    height: 40px;
  }
}

#section8_form2 {
  height: 158px;
  padding-top: 24px;
}

.section8_map {
  max-width: 100%;
}

@media (max-width: 393px) {
  .section8_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  width: min(100%, 1920px);
  height: auto;
  margin: 0 auto;
  padding: 108px 0 220px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 29, 78, 0.35)), to(rgb(254, 87, 56)));
  background: linear-gradient(to bottom, rgba(255, 29, 78, 0.35) 0%, rgb(254, 87, 56) 100%);
  text-align: start;
  font-size: 24px;
  font-family: Helvetica Neue, sans-serif;
}
@media (max-width: 393px) {
  .footer {
    font-size: 16px;
  }
}
@media (max-width: 393px) {
  .footer {
    padding: 108px 0 108px 0;
  }
}
.footer_content {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 393px) {
  .footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 30px;
  }
}
.footer_pBold {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 28px;
}
@media (max-width: 393px) {
  .footer_pBold {
    margin-bottom: 18px;
  }
}
.footer_p {
  color: #ffffff;
}
.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 393px) {
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer_icon {
  max-width: 100%;
  height: auto;
}
@media (max-width: 393px) {
  .footer_icon {
    max-width: 50%;
  }
}
.footer_icon_img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#footer_tel {
  margin-top: 52px;
}
@media (max-width: 393px) {
  #footer_tel {
    margin-top: 25px;
  }
}