.header {
    padding-top: 20px;
    width: 100%;
    height: auto;
    background-image: url("../../images/header/header.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 497px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &_nav{
        // width: 1353px;
        width: 88%;
        height: 59px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFB8D6;
        border-radius: 32px;
        padding: 0 75px;
        // position: relative;
        // z-index: 10;
        a{
            font-weight: 500;
        }

}
}


// .header_bg {
//     position: absolute;
//     top: -20px;
//     z-index: 1;
// }
