@use "../base/index";
.header {
    padding-top: 20px;
    width: 100%;
    height: auto;
    background-image: url("images/header/header1.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 55%; //497px;

    &_nav{
        // width: 1353px;
        margin: 0 auto;
        width: min(88%, 1920px);
        height: 59px;
        @include index.flex(space-around, center);
        background-color: #FFB8D6;
        border-radius: 32px;
        //padding: 0 75px;
        a{
            font-weight: 500;
        }

}
    &_menu {

        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    &_menu_icon {
        display: none;
    }
}

