.header_nav{
    margin: 20px 44px;
    width: 1353px;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB8D6;
    border-radius: 32px;
    padding: 0 75px;
    position: relative;
    z-index: 10;
    a{
        font-weight: 500;
    }

}
.header_bg {
    position: absolute;
    top: -20px;
    z-index: 1;
}
