@use "../base/index";

.Section2 {
    max-width: index.$sectionWidth;
    max-height: auto;//730px;
    margin: index.$marginSection auto;
    &_title {
        color: #000000;
        @include index.font_title;
        //height: 102px;
        //margin-bottom: index.$marginTitle;
    }
    &_block1 {
        display: flex;
        gap: index.$gap_m;
        max-width: 100%;
        &_item1 {
            max-width: 584px;
            max-height: 564px;
            flex-shrink: 1;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        &_item2 {
            max-width: 584px;
            flex-shrink: 3;
            @include index.flex(space-between, stretch);
            flex-direction: column;
            
            &_text {
                width: 100%;
                height: 100%;
                @include index.font_p;
                @include index.flex(space-around, start);
                flex-direction: column;
            }
        }

    }
}
.Section2_block1_item2_icons {
    display: flex;
    justify-content: space-between;
    max-height: 147px;
    margin-top: 20px;
    img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
}