@use "../base/index";
.section4 {
    margin: index.$marginSection auto;
    width: min(100%, 1920px);
    //max-width: 100%;
    max-height: auto;
    background-image: url(../../images/section4/crazylines.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;

    &_title {
        @include index.font_title;
    }
    &_content {
        @include index.flex(center, center);
    }
    &_text { 
        @include index.font_kode;
        &_1 {
            font-weight: 500;
            line-height: 80px
        }
    }
}

.section4_img {
    @include index.img_cover;
        @media (max-width: 393px) {
            max-width: 180%;
            object-fit: contain;
            
        }
}