@use "../base/index";
@use "../components/index_comp";
.section8 {
    margin: index.$marginSection auto;
    max-width: index.$sectionWidth;
    max-height: auto;

    &_title {
        @include index.font_title;
    }
    &_content {
        display: flex;
        align-items: stretch;
        gap: index.$gap_m;
        @media (max-width: 393px) {
            flex-direction: column;
            padding: 0 16px;
        }
    }
    &_form {
        max-width: 481px;
        &_input {
        background-color: #FFFFFF;
        width: 100%;
        height: 79px;
        border-radius: 20px;
        padding-left: 50px;
        @include index.font_p;
        margin-bottom: 34px;

        }
    }
    &_button {
        @include index_comp.button_login;
    }
}
#section8_form2 {
    height: 158px;
    padding-top: index.$gap_s;
}

.section8_map {
    max-width: 100%;
}

.section8_form {
    @media (max-width: 393px) {
    @include index.flex_column;
    align-items: center;
    justify-content: center;
        }
}
