@use "../base/index";

.section1 {
    max-width: 792px;
    height: auto;
    margin: 8% auto 0 auto; //100px
    // position: relative;
    // z-index: 10;
    @include index.flex_column;
    gap: 36px;

    &_img {
        width: 100%;
        height: 100%;
        &_pr {
                width: 100%;
                height: 100%;
                object-fit: contain;
        }
    }
    h1{
        color: #ffffff;
        @include index.font_title;
        height: 91px;
        // text-align: center;
        // height: 91px;
        // font-size: 80px;
        // font-family: 'Madimi One', sans-serif;
        // font-weight: 400;
    }
    &_text {
        height: 63px;
        font-family: "Kode Mono", monospace;
        text-align: center;
        font-size: 24px;
        padding: 19px 0;
    }
    &_buttonLog {
        width: 378px;
        height: 64.28px;
        border-radius: 59px;

        border: 4px solid #FE5738;
        font-family: Helvetica Neue;
        font-size: 24px;
        font-weight: bold;
    }

}

