@use "../base/index";
@use "../components/index_comp";

.section1 {
    max-width: 792px;
    height: auto;
    margin: 7% auto 0 auto; //100px
    // position: relative;
    // z-index: 10;
    @include index.flex_column;
    gap: 36px;

    &_img {
        width: 100%;
        height: 100%;
        &_pr {
                width: 100%;
                height: 100%;
                object-fit: contain;
        }
    }
    h1{
        @include index.font_title;
        color: #ffffff;
        height: 91px;
        margin-bottom: 0;
        // text-align: center;
        // height: 91px;
        // font-size: 80px;
        // font-family: 'Madimi One', sans-serif;
        // font-weight: 400;
    }
    &_text {
        height: 63px;
        font-family: "Kode Mono", monospace;
        text-align: center;
        font-size: 24px;
        padding: 19px 0;
    }
    &_buttonLog {
        @include index_comp.button_login;
        
    }

}

