.section1 {
    width: 792px;
    height: auto;
    margin: 100px auto;
    // position: relative;
    // z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    h1{
        color: #ffffff;
        text-align: center;
        height: 91px;
        font-size: 80px;
        font-family: 'Madimi One', sans-serif;
        font-weight: 400;
    }
    &_text {
        height: 63px;
        font-family: "Kode Mono", monospace;
        text-align: center;
        font-size: 24px;
        padding: 19px 0;
    }
    &_buttonLog {
        width: 378px;
        height: 64.28px;
        border-radius: 59px;

        border: 4px solid #FE5738;
        font-family: Helvetica Neue;
        font-size: 24px;
        font-weight: bold;
    }

}
// .buttonLog{
//         width: 378px;
//         height: 64.28px;
//         border-radius: 59px;

//         border: 4px solid #FE5738;
//     }