@use "../base/index";
.section5 {
    margin: index.$marginSection auto;
    max-width: index.$sectionWidth;
    max-height: auto;
    border: 1px solid green;

    &_title {
        @include index.font_title;
    }
    &_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row: auto;
        gap: index.$gap_m;
        @media (max-width: 393px) {
            @include index.flex_column;
            padding: 0 16px;
        }
        
        &_3 {
            grid-column: 3 / 5;
            margin-bottom: index.$gap_m;
        }
        &_5 {
            grid-column: 2 / 4;
            margin-bottom: index.$gap_m;
        }
        &_7 {
            grid-column: 1 / 3;
        }
    }
    

}
.section5_imgBox {
    @media (max-width: 393px) {
    width: 100%;
    height: auto;
    }
}

.section5_img {
    @include index.img_cover;
    @media (max-width: 393px) {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}