@use "../base/index";

.section6 {
    margin: index.$marginSection auto;
    width: min(100%, 1920px);
    max-height: auto;
    overflow: hidden;
    position: relative;
    &_title {
        @include index.font_title;
    }
    &_content {
        max-width: 1700px;
        height: auto;
        display: flex;
        gap: index.$gap_m;
        position: relative;
        left: -250px;
        
        &_item {
            min-width: 25%;//379px;
            height: auto;
            position: relative;
            @include index.flex_column;
        }
        &_card {
            margin-top: 87px;
            width: 100%;
            height: 100%;
            border-radius: 52px;
            background-color: #FFB8D6;
            padding: 140px 40px 70px 40px;
        }
        &_text {
            max-width: 300px;
            max-height: 233px;
            @include index.font_p;
            text-align: center;
            &_item1 {
                font-weight: 600;
                margin-bottom: 30px;
            }
            &_item2 {
                line-height: 1.2;
            }
        }
        &_img {
            max-width: 100%;
            position: absolute;
            top: -30px;
        }
        &_img2 {
            @include index.img_cover;
        }
    }
}
// .section6_content_item {
//     width: 379px;
//     height: auto;
//     border-radius: 52px;
//     background-color: #FFB8D6;
//     position: relative;
// }

// .section6_content_text {
//     width: 379px;
//     height: 439px;
//     border-radius: 52px;
//     background-color: #FFB8D6;
//     position: relative;
// }
// .section6_content_img{
//     max-width: 190px;
//     height: auto; 
// }
// .section6_content_img2 {
    
//     border-radius: 50%;

// }