@mixin button_login {
    width: min(378px, 38vw);
    //width: 378px;
    height: 64.28px;
    border-radius: 59px;
    border: 4px solid #FE5738;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 13px #FF0059;
    cursor: pointer;
}