*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'inter', sans-serif;
    margin: 0 auto;
    width: 1441px;
}