*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000000;
}

body {
    font-family: 'inter', sans-serif;
    max-width: 100vw;
    background-color: #FBE5EE;
    font-size: 16px;
    
}