@use "root";
//fonts mix        
@mixin font_title {
    text-align: center;
    font-size: 80px;
    font-family: 'Madimi One', sans-serif;
    font-weight: 400;
    height: 102px;
    margin-bottom: root.$marginTitle;
    color: #000000;
    @media (max-width: 393px) {
            font-size: 40px;
        }
    @media (max-width: 768px) {
        font-size: 60px;
    }
}

@mixin font_p {
    text-align: start;
    font-size: 24px;
    font-family: Helvetica Neue, sans-serif;
        @media (max-width: 393px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
    }
}

@mixin font_kode{
    font-family: "Kode Mono", monospace;
    text-align: center;
    font-size: 24px;
        @media (max-width: 393px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
    }
}



//flex mix

@mixin flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


@mixin img_cover {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}