//Fonts
$inter: 'inter';
$font_size_m: 24px;
$font_white: #ffffff;


//отступи width: 
$marginSection: min(14%, 216px);
$marginTitle: 5.3%;//64px;
$gap_m: 32px;
$gap_s: 24px;



//sizes
$sectionWidth: 1200px;